Repository lukelukes/vibe-commander: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, oxfmt, oxlint, eslint-solidjs, cargo-test, frontend-test

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml -- --check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path src-tauri/Cargo.toml --all-targets -- -D warnings
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxfmt:
  name: oxfmt check
  entry: bun run fmt:check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

oxlint:
  name: oxlint
  entry: bun run lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint-solidjs:
  name: ESLint + autofix
  entry: bunx eslint --fix
  language: system
  pass_filenames: true
  stages:
  - pre-commit

cargo-test:
  name: cargo test
  entry: cargo test --manifest-path src-tauri/Cargo.toml
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-test:
  name: bun run test
  entry: bun run test
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: add rust tooling
  .config/nextest.toml
  .pre-commit-config.yaml
  bun.lock
  justfile
  mise.toml
  package.json
  src-tauri/.cargo/config.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/bacon.toml
  src-tauri/build.rs
  src-tauri/clippy.toml
  src-tauri/deny.toml
  src-tauri/justfile
  src-tauri/src/features/listing/commands.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src-tauri/src/shared/error.rs
  src-tauri/src/shared/types.rs
  src-tauri/tauri.conf.json
  src-tauri/tests/common/mod.rs
  src-tauri/tests/listing_property_test.rs
  src-tauri/tests/listing_test.rs
  typos.toml
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: create root cargo workspace
  Cargo.toml
  src-tauri/Cargo.toml
Due: none

feat(core): add vibe-commander-core crate with shared business logic
  Cargo.toml
  crates/vibe-commander-core/Cargo.toml
  crates/vibe-commander-core/src/error.rs
  crates/vibe-commander-core/src/lib.rs
  crates/vibe-commander-core/src/listing.rs
  crates/vibe-commander-core/src/types.rs
  crates/vibe-commander-core/tests/common/mod.rs
  crates/vibe-commander-core/tests/listing_property_test.rs
  crates/vibe-commander-core/tests/listing_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(gpui): add vibe-commander-gpui skeleton
  Cargo.toml
  crates/vibe-commander-gpui/Cargo.toml
  crates/vibe-commander-gpui/justfile
  crates/vibe-commander-gpui/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: update build tooling for workspace structure
  Cargo.lock
  justfile
  vite.config.ts
Due: oxfmt, oxlint, eslint-solidjs, frontend-test

chore: update dependencies
  bun.lock
  package.json
Due: none

chore(gpui): add settings, groups, and check recipes to justfile
  crates/vibe-commander-gpui/justfile
Due: none

chore(tauri): improve justfile with settings, groups, and bug fixes
  crates/vibe-commander-tauri/justfile
Due: none

chore: add settings, groups, ci recipes, and gpui module to root justfile
  justfile
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  oxfmt: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  oxlint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$
  eslint-solidjs: any of: \.(ts|mts|cts)$, \.tsx$
  cargo-test: any of: \.rs$
  frontend-test: any of: \.(ts|mts|cts)$, \.tsx$
